body{
    margin:0;
    font-family:"Open sans",Arial;
}
header{
    background-color:#01203d;
    height: 130px;
}
.menu-top-signin{
    float:right;
    margin-top:37px;
}

.menu-top-signin span{
    color:#66798a;
}
.menu-top-signin a{
    color:#008cba;
}
.menu-head-top{
    width:1000px;
    margin:0 auto;
}